.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    /* align-items: safe; */
    /* border: 2px solid black; */
    /* width: 100vw; */
}

.Landing2 input {
    background-color: red;
}

.small {
    font-size: 0.75rem;
}

#myCanvas {
    box-shadow: 0px 0px 40px 10px rgb(152, 228, 255);
}

.subDiv {
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.splashScreenInput {
    font-size: 130%;
    margin: 20px;
    flex: 1;
    border: none;
    border-radius: 60px;
    padding: 10px 3px;
    text-align: center;
    color: blue;
    transition: transform 0.2s ease-in-out;
}
.splashScreenInput::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}
.splashScreenInput:focus {
    outline: 3px solid blue;
}
.heroMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#splashSubmitBtn {
    padding: 10px 30px;
    background-color: blue;
    color: white;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    margin-top: 5%;
    transition: transform 0.2s ease-in-out;
    /* flex: 1; */
}
#splashSubmitBtn:hover {
    transform: scale(1.2);
}
#randomBtn {
    padding: 5px 15px;
    background-color: white;
    color: blue;
    display: flex;
    font-weight: 400;
    outline: 2px solid blue;
    align-items: center;
    border: none;
    border-radius: 20px;
    /* box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4); */
    margin-top: 5%;
    transition: transform 0.2s ease-in-out;
}
#randomBtn:disabled {
    background-color: rgb(217, 217, 217);
    border: none;
    box-shadow: none;
    /* outline: 2px solid rgb(192, 192, 192); */
    outline: none;
    color: rgb(192, 192, 192);
    transition: none;
    transform: none;
}
#splashSubmitBtn:disabled {
    background-color: rgb(217, 217, 217);
    border: none;
    box-shadow: none;
    box-shadow: none;
    /* outline: 2px solid rgb(192, 192, 192); */
    outline: none;
    color: rgb(192, 192, 192);
    transition: none;
    transform: none;
}
.splashScreenInput:disabled {
    color: rgb(192, 192, 192);
}
@media screen and (max-width: 415px) {
    .heroMainDiv {
        padding: 10%;
    }
    .splashScreenInput {
        font-size: 20px;
        margin: 20px;
        flex: 1;
        border: none;
        border-radius: 20px;
        padding: 0px 0px;
        text-align: center;
        color: blue;
        transition: none;
    }
    .splashScreenInput::-webkit-inner-spin-button {
        appearance: none;
        -webkit-appearance: none;
    }
    .splashScreenInput:focus {
        outline: 1px solid blue;
        transform: scale(1);
    }
    #splashSubmitBtn:disabled {
        background-color: rgb(217, 217, 217);
        border: none;
        box-shadow: none;
        box-shadow: none;
        /* outline: 2px solid rgb(192, 192, 192); */
        outline: none;
        color: rgb(192, 192, 192);
        transition: none;
        transform: none;
    }
    #splashSubmitBtn {
        transition: none;
    }
    #splashSubmitBtn:hover {
        transform: none;
    }
    .heroMainDiv {
        padding: 10%;
    }
    #splashSubmitBtn {
        padding: 10px 30px;
        background-color: blue;
        color: white;
        font-weight: 600;
        outline: none;
        border: none;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
        margin-top: 5%;
        transition: transform 0.2s ease-in-out;
        /* flex: 1; */
    }
    .subDiv {
        height: 80vh;
    }
}
