.splashMainDiv {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.splashSubDiv {
    display: flex;
    flex: 1;
    align-items: center;
}
.splashHeading {
    flex: 1;
    font-weight: 400;
    font-variant: small-caps;
    text-align: center;
}
.splashForm {
    display: flex;
    margin-top: 4%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}
